@media (min-width: 768px) {
    .news-input{
        width: 50%;
    }

}

.smart{
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes move{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* @media (min-width: 768px) {
    .bd-code-snippet {
        width: 50%;
    }

} */

.poto{
    justify-content: center;
    align-items: center;
}


#contact-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #4d90fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(77, 144, 254, .25);
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    transition: all .15s ease-in-out;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #0c192c;
    background-image: url(img/teahub.io-vertical-wallpaper-218324.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    top: 0;
    left: 0;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 9999;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50% #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50% #ff2d75, 0 0 100px #ff2d75;


}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}